{% if ansible_system_vendor == "Microsoft Corporation" %}
"os_info{interface=`"{{ ansible_interfaces[0].interface_name | replace(" ", "_") }}`",model=`""+(get-wmiobject win32_computersystem).Model+"`",nodename=`""+$env:COMPUTERNAME+"`",release=`""+(Get-WmiObject -class Win32_OperatingSystem).Version+"."+(gwmi win32_operatingsystem | select osarchitecture).osarchitecture+"`",sysname=`"Windows`",build=`""+(Get-WmiObject -class Win32_OperatingSystem).Caption.trim('Microsoft ')+"`",vmsize=`""+(Invoke-RestMethod -Headers @{"Metadata"="true"} -Method GET -Proxy $Null -Uri "http://169.254.169.254/metadata/instance/compute/vmSize?api-version=2021-01-01&format=text")+"`"} 1" | Out-File -encoding ASCII "C:\ProgramData\wmi_textfile_inputs\os_info.prom"
{% else %}
"os_info{interface=`"{{ ansible_interfaces[0].interface_name | replace(" ", "_") }}`",model=`""+(get-wmiobject win32_computersystem).Model+"`",nodename=`""+$env:COMPUTERNAME+"`",release=`""+(Get-WmiObject -class Win32_OperatingSystem).Version+"."+(gwmi win32_operatingsystem | select osarchitecture).osarchitecture+"`",sysname=`"Windows`",build=`""+(Get-WmiObject -class Win32_OperatingSystem).Caption.trim('Microsoft ')+"`",vmsize=`""+"`"} 1" | Out-File -encoding ASCII "C:\ProgramData\wmi_textfile_inputs\os_info.prom"
{% endif %}
