[global]
    run as user = netdata

    # the default database size - 1 hour
    history = 3600

    # by default do not expose the netdata port
    bind to = {{ ansible_default_ipv4.address }}

[web]
    default port = {{ os_linux_exporter_type_item.port }}
    web files owner = root
    web files group = netdata
