<!--
  Wazuh - Agent
  More info at: https://documentation.ossec.com
  Mailing list: https://groups.google.com/forum/#!forum/ossec
-->

<ossec_config>
  <client>
    <server>
      <address>{{ ossec_managers.address | list | random }}</address>
      <port>{{ ossec_managers.port }}</port>
      <protocol>{{ ossec_managers.protocol }}</protocol>
    </server>
    {% if ossec_profile is not none %}
    <config-profile>{{ ossec_profile }}</config-profile>
    {% endif %}
    {% if ossec_notify_time is not none and wazuh_time_reconnect is not none %}
    <notify_time>{{ ossec_notify_time }}</notify_time>
    <time-reconnect>{{ ossec_time_reconnect }}</time-reconnect>
    {% endif %}
    <auto_restart>{{ ossec_auto_restart }}</auto_restart>
    <crypto_method>{{ ossec_crypto_method }}</crypto_method>
  </client>
  <client_buffer>
    <!-- Agent buffer options -->
    <disabled>{{ ossec_agent_config.client_buffer.disable }}</disabled>
    <queue_size>{{ ossec_agent_config.client_buffer.queue_size }}</queue_size>
    <events_per_second>{{ ossec_agent_config.client_buffer.events_per_sec }}</events_per_second>
  </client_buffer>
  <logging>
    <log_format>{{ ossec_agent_config.log_format }}</log_format>
  </logging>

  <active-response>
    <disabled>{{ ossec_agent_config.active_response.ar|default('no') }}</disabled>
    <ca_store>{% if ansible_os_family == "Windows" %}{{ ossec_agent_config.active_response.ca_store_win }}{% else %}{{ ossec_agent_config.active_response.ca_store }}{% endif %}</ca_store>
    <ca_verification>{{ ossec_agent_config.active_response.ca_verification }}</ca_verification>
  </active-response>

  <wodle name="open-scap">
    <disabled>{{ ossec_agent_config.openscap.disable }}</disabled>
    <timeout>{{ ossec_agent_config.openscap.timeout }}</timeout>
    <interval>{{ ossec_agent_config.openscap.interval }}</interval>
    <scan-on-start>{{ ossec_agent_config.openscap.scan_on_start }}</scan-on-start>
{% if ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial' %}
    <content type="xccdf" path="ssg-ubuntu-1604-ds.xml">
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
{% elif ansible_distribution == 'Debian' %}
{% if ansible_distribution_release == 'jessie' %}
{% if openscap_version_valid.stdout == "0" %}
    <content type="xccdf" path="ssg-debian-8-ds.xml">
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
    <content type="oval" path="cve-debian-8-oval.xml"/>
{% endif %}
{% elif ansible_distribution_release == 'stretch' %}
    <content type="oval" path="cve-debian-9-oval.xml"/>
{% endif %}
{% elif ansible_distribution == 'CentOS' %}
{% if ansible_distribution_major_version == '7' %}
    <content type="xccdf" path="ssg-centos-7-ds.xml">
{% elif ansible_distribution_major_version == '6' %}
    <content type="xccdf" path="ssg-centos-6-ds.xml">
{% endif %}
      <profile>xccdf_org.ssgproject.content_profile_pci-dss</profile>
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
{% elif ansible_distribution == 'RedHat' %}
{% if ansible_distribution_major_version == '7' %}
    <content type="xccdf" path="ssg-rhel-7-ds.xml">
{% elif ansible_distribution_major_version == '6' %}
    <content type="xccdf" path="ssg-rhel-6-ds.xml">
{% endif %}
      <profile>xccdf_org.ssgproject.content_profile_pci-dss</profile>
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
{% if ansible_distribution_major_version == '7' %}
    <content type="oval" path="cve-redhat-7-ds.xml"/>
{% elif ansible_distribution_major_version == '6' %}
    <content type="oval" path="cve-redhat-6-ds.xml"/>
{% endif %}
{% elif ansible_distribution == 'Fedora' %}
    <content type="xccdf" path="ssg-fedora-ds.xml">
      <profile>xccdf_org.ssgproject.content_profile_pci-dss</profile>
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
{% endif %}
  </wodle>

  {% if ansible_system == "Linux" and ossec_agent_config.vuls.disable == 'no' %}
  <wodle name="command">
    <disabled>no</disabled>
    <tag>Wazuh-VULS</tag>
    <command>/usr/bin/python /var/ossec/wodles/vuls/vuls.py{% for arg in ossec_agent_config.vuls.args %} --{{ arg }}{% endfor %}</command>
    <interval>{{ ossec_agent_config.vuls.interval }}</interval>
    <ignore_output>yes</ignore_output>
    <run_on_start>{{ ossec_agent_config.vuls.run_on_start }}</run_on_start>
  </wodle>
  {% endif %}

{% if ossec_agent_config.labels.enable %}
  <labels>
  {% for label in ossec_agent_config.labels.list %}
    <label key="{{ label.key }}"{% if label.hidden is defined %} hidden="{{ label.hidden }}"{% endif %}>{{ label.value }}</label>
  {% endfor %}
  </labels>
{% endif %}

</ossec_config>
